<mat-toolbar color="primary">
  <span *ngIf="!isMobile" style="width:194px;"> 
    <img src="assets/images/icon_white.svg" alt="Logo" style="height: 50px;">
  </span>
  
  <toolbar-search></toolbar-search>
  <span class="spacer"></span>
  <workspace-selector [isMobile]="isMobile"></workspace-selector>
  <session-countdown></session-countdown>

  <h3 *ngIf="!isMobile">{{currentUser?.fullname}}</h3>
  <button mat-icon-button aria-label="User icon" [matMenuTriggerFor]="userMenu">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu" xPosition="before">
    <button mat-menu-item (click)="profile()">
      <mat-icon>person</mat-icon>
      Profile
    </button>
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      Settings
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container autosize="true">
  <mat-sidenav [mode]="isMobile ? 'push' : 'side'" [opened]="isMobile ? 'false' : 'true'" (openedChange)="menuOpened = $event">
    <mat-nav-list>
      <a mat-list-item (click)="dashboard()">
        <span class="entry">
          <mat-icon>house</mat-icon>
          <span>Dashboard</span>
        </span>
      </a>

      <div mat-subheader>Master Data</div>
      <a mat-list-item (click)="car()">
        <span class="entry">
          <mat-icon>directions_car</mat-icon>
          <span>Cars</span>
        </span>
      </a>
      <a mat-list-item>
        <span class="entry">
          <mat-icon>person</mat-icon>
          <span>Customers</span>
        </span>
      </a>
      <a mat-list-item>
        <span class="entry">
          <mat-icon>build</mat-icon>
          <span>Services</span>
        </span>
      </a>

      <div mat-subheader>Worksheets</div>
      <a mat-list-item>
        <span class="entry">
          <mat-icon>assignment</mat-icon>
          <span>Inspection</span>
        </span>
      </a>
      <a mat-list-item>
        <span class="entry">
          <mat-icon>assignment</mat-icon>
          <span>Repair</span>
        </span>
      </a>
      <a mat-list-item>
        <span class="entry">
          <mat-icon>assignment</mat-icon>
          <span>Maintenance</span>
        </span>   
      </a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <button *ngIf="isMobile" [ngClass]="menuOpened === true ? 'opened' : 'closed'" class="sidenav-toggle" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>chevron_right</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>