
.custom-input .mat-mdc-form-field-flex {
    color: white;
  }
  
  .custom-input input {
    color: white;
  }
  
  .custom-input input::placeholder {
    color: white;
  }
  
  .custom-input .mat-mdc-form-field-label {
    color: white;
  }
  
  .custom-input.mat-form-field-appearance-outline .mat-mdc-form-field-outline {
    border-color: white;
  }