
.custom-input .mat-mdc-form-field-flex {
  color: white;
}

.custom-input input {
  color: white;
}

.custom-input input::placeholder {
  color: white;
}

.custom-input .mat-mdc-form-field-label {
  color: white;
}

.custom-input.mat-form-field-appearance-outline .mat-mdc-form-field-outline {
  border-color: white;
}

::ng-deep .mat-mdc-autocomplete-panel {
  min-width: 300px !important;
  max-width: 500px;
}

::ng-deep .mat-mdc-option {
  white-space: nowrap;          /* Ne törjön új sorba */
  overflow: hidden;             /* Elrejtés, ha túl hosszú */
  text-overflow: ellipsis;      /* "..." hozzáadása, ha nem fér ki */
}